/*-- scss:defaults --*/

/* Fix to https://github.com/quarto-dev/quarto-cli/issues/7391 should make it feasible to use this. */

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// colors

$body-bg: #0e2635;
$body-color: #F0F0F0;

$navbar-bg: #263b49;
$navbar-fg: #F0F0F0;
$navbar-hl: #FFFFFF;

$link-color: #ae8b2d;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
.card-header {
  background-color: #494949;
}

.nav-item > a:hover {
  color: #ae8b2d;
}

.nav-link{
  color: #F0F0F0;
}

.quarto-dashboard aside.sidebar {
  background-color: #263b49;
}
